.about__list {
    display: flex;
    justify-content: space-between;
}

.about__item {
    text-decoration: none;
}

.about__title {
    color: #121212;
    text-align: center;
}

.about__subtitle {
    color: #707070;
}

.about__wrap {
    background-color: blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.about__wrapper {
    margin-top: 86px;
    padding: 20px;
    background-color: white;
    width: 619px;
}

.about__inner {
    display: flex;
    text-align: center;
}

.about__inner__war {
    text-align: justify;
}

.about__registertext {
    margin-left: auto;
    margin-top: auto;
    display: inline-flex;
    column-gap: 6.6px;
    color: #707070;
    font-size: 11px;

}

.about__img {
    display: flex;
}

.about__images {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0.61px solid rgba(243, 243, 243, 1);
    align-items: center;
    justify-content: space-evenly;
}

.about__register {
    background-color: #f3f3f3;
    margin: 0px;
    padding: 6.6px 10px;
    text-align: center;
}

.about__slogan__text {
    font-size: 66%;
    width: 395px;
}

.about__col {
    display: flex;
    column-gap: 18px;
    font-size: 9.9px;
}

.about__slogan {
    display: list-item;
}
.about__content {
    padding: 14px 16.5px;
    background-color: #3d1edd;

    border: 1px solid #3d1edd; 
    color: #ffffff;
}
.about__content2 {
    padding: 14px 15px;
    background-color: initial;

    border: 1px solid #e5defd; 
}
.about__list__item {
    width: 213px;
    background-color: white;
    border: 1px solid #E5E8EB;
    margin-left: 430px;
    margin-top: -278px;
}
.about__conteiners {
    display: flex;
    align-items: center;
    margin: 9px 0px;
}
.about__email{
    margin: 1px 12px;
}
.about__normol{
    margin: 1px;
}